:root {
    /* color palette: */
    --clr-0: hsla(0, 100%, 100%, 0);
    --clr-1: hsla(204, 100%, 70%, 1); /* light blue */
    --clr-2: hsla(155, 100%, 70%, 1); /* green */
    --clr-3: hsla(62, 100%, 70%, 1); /* yellow */
    --clr-4: hsla(32, 100%, 70%, 1); /* orange */
    --clr-5: hsla(0, 100%, 70%, 1); /* red */
    --clr-6: hsla(322, 100%, 70%, 1); /* pink */
    --clr-7: hsla(284, 100%, 70%, 1); /* purple */
    --clr-8: hsla(239, 100%, 70%, 1); /* dark blue */
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial';
    z-index: 100;
}

@keyframes bg-color-animation {
    0% {background-color: var(--clr-1)}
    12% {background-color: var(--clr-2)}
    25% {background-color: var(--clr-3)}
    37% {background-color: var(--clr-4)}
    50% {background-color: var(--clr-5)}
    62% {background-color: var(--clr-6)}
    75% {background-color: var(--clr-7)}
    88% {background-color: var(--clr-8)}
    100% {background-color: var(--clr-1)}
}

.main {
    animation: bg-color-animation 30s linear infinite;
    height: 100vh;
    z-index: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clr1 {
    background-color: var(--clr-1) !important;
}

.clr2 {
    background-color: var(--clr-2) !important;
}

.clr3 {
    background-color: var(--clr-3) !important;
}

.clr4 {
    background-color: var(--clr-4) !important;
}

.clr5 {
    background-color: var(--clr-5) !important;
}

.clr6 {
    background-color: var(--clr-6) !important;
}

.clr7 {
    background-color: var(--clr-7) !important;
}

.clr8 {
    background-color: var(--clr-8) !important;
}

.main-color-overlay {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.main-brightness-overlay {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

.home-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%
}

.home-buttons-container {
    display: flex;
    flex-flow: row nowrap;
    width: 60vw;
    justify-content: space-evenly;
}

.main-button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 2vw;
    width: 20vw;
    height: 10vh;
    padding: 2vh;
    font-size: 3vh;
    margin-bottom: 2vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-buttons-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.main-title {
    color: white;
    font-size: 10vh;
    margin-bottom: 2vh;
    text-align: center;
}

.sub-title {
    color: white;
    font-size: 6vh;
    text-align: center;
    margin-bottom: 2vh;
}

.header-container > div {
    min-width: 10vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mini-title {
    color: white;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 5vh;
}

.players {
    display: flex;
    flex-flow: row wrap;
    height: 60vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3vh;
}

.reveal-players {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4vh;
}

.player-card {
    width: 40%;
    height: 12vh;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

dialog {
    border: 3px solid white;
    animation: bg-color-animation 30s linear infinite;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    margin: auto;
}

dialog > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

dialog > div > button {
    width: 40%;
}

.player-name {
    color: white;
    font-size: 3vh;
}

input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
}

#join-code-dialog > div > div:not(#join-code-div) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#join-code-div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.code-text {
    color: white;
    font-size: 6vh;
    text-align: center;
}

#join-code-input {
    height: 9vh;
    font-size: 9vh;
    width: 34.5vh;
    text-transform: uppercase;
    margin-left: 3vh;
}

#player-name-input {
    height: 7vh;
    font-size: 5vh;
    width: 30vw;
    border-radius: 20px;
    margin-bottom: 3vh;
}

.back-to-home {
    z-index: 200;
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 5vw;
    height: 5vh;
    border: 3px solid white;
    font-size: 1vh;
    border-radius: 1vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

img#brightness-icon {
    z-index: 200;
    position: absolute;
    right: 0;
    top: 0;
    width: 5vw;
    height: 5vw;
    filter: invert(100%) drop-shadow(2px 2px 5px #555);
}

img#settings-icon {
    z-index: 200;
    width: 5vw;
    height: 5vw;
    filter: invert(100%) drop-shadow(2px 2px 5px #555);
}

img.dice {
    filter: invert(100%) drop-shadow(2px 2px 5px #555);
}

#brightness-slider {
    position: absolute;
    top: 6vw;
    right: 1vw;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20vw; /* Full-width */
    height: 1vh; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 0.5vh;
    transition: opacity 0.3s;
}

#brightness-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    filter: drop-shadow(2px 2px 5px #555);
}

#brightness-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    filter: drop-shadow(2px 2px 5px #555);
}

.standard-shadow {
    filter: drop-shadow(2px 2px 5px #555);
}

.cursorpointer {
    cursor: pointer;
}

#your-turn, #others-turn, #reveal-round {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.last-turn {
    font-size: 3vh;
    color: white;
    line-height: 3vh;
    margin-bottom: 2vh;
}

.standard-text {
    font-size: 3vh;
    color: white;
    line-height: 3vh;
    margin-bottom: 2vh;
    text-align: center;
}

.rolled-dice-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
    width: 30vw;
}

.small-dice {
    height: 3vh;
    margin: 0 0 -0.4vh 0;
    display: inline;
    white-space: nowrap;
}

.reveal-dice {
    height: 5vh;
    white-space: nowrap;
}

.game-buttons-container {
    display: flex;
    flex-flow: row nowrap;
    width: 50vw;
    justify-content: space-evenly;
    margin-bottom: 4vh;
}

.bid-options-container {
    display: flex;
    flex-flow: row nowrap;
    width: 50vw;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.bid-options-container > div:last-child {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#bid-amount-input {
    height: 8vh;
    width: 10vh;
    font-size: 8vh;
}

.medium-dice {
    height: 8vh;
    margin: 0 0 -0.4vh 0;
    display: inline;
    white-space: nowrap;
    cursor: pointer;
}

.rolled-dice {
    margin: 0 1.5vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.unchosen {
    opacity: 0.5;
}

.card-dice {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 2vh;
}

.dissolved {
    opacity: 0.35;
    transition: opacity 1s 2s ease-in-out;
}

.pacifico-label {
    color: hsl(0, 100%, 80%);
    /* text-decoration: underline; */
}

@media (max-aspect-ratio: 1) { /* Phone responsiveness*/
    .home-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%
    }
    
    .home-buttons-container {
        display: flex;
        flex-flow: row nowrap;
        width: 90vw;
        justify-content: space-evenly;
    }

    .main-button {
        border-radius: 20px;
        width: 40vw;
        height: 10vh;
        padding: 2vh;
        font-size: 3vh;
        margin-bottom: 2vh;
    }
    
    .header-container > div {
        min-width: 10vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-title, .sub-title, .mini-title {
        margin-bottom: 1vh;
    }

    .header-container > .header > .main-title {
        font-size: 6vh;
    }

    .header-container > .header > .sub-title {
        font-size: 4vh;
    }
    
    .reveal-players {
        display: flex;
        flex-flow: row wrap;
        width: 95vw;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .reveal-players > .player-card {
        width: 47%;
        height: 12vh;
        border: 3px solid white;
        border-radius: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .player-card {
        width: 40%;
        height: 12vh;
        border: 3px solid white;
        border-radius: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    dialog {
        border: 3px solid white;
        animation: bg-color-animation 30s linear infinite;
        border-radius: 30px;
        width: 100%;
        height: 50%;
        margin: auto;
    }
    
    dialog > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    
    dialog > div > button,
    .dialog-button {
        width: 40%;
    }
    
    .player-name {
        color: white;
        font-size: 2vh;
        text-align: center;
    }
    
    input {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    
    #join-code-dialog > div > div:not(#join-code-div) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }

    #join-code-div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .code-text {
        color: white;
        font-size: 4.5vh;
        text-align: center;
    }

    #join-code-input {
        height: 4.5vh;
        font-size: 4.5vh;
        width: 17.25vh;
        text-transform: uppercase;
        margin-left: 3vh;
    }

    #player-name-input {
        height: 7vh;
        font-size: 5vh;
        width: 80vw;
        border-radius: 20px;
        margin-bottom: 3vh;
    }
    
    .back-to-home {
        z-index: 200;
        position: absolute;
        top: 1vh;
        left: 1vh;
        width: 20vw;
        height: 5vh;
        border: 3px solid white;
        font-size: 2vh;
        border-radius: 1vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }
    
    img#brightness-icon {
        z-index: 200;
        position: absolute;
        right: 0;
        top: 0;
        width: 10vw;
        height: 10vw;
        filter: invert(100%) drop-shadow(2px 2px 5px #555);
    }
    
    img#settings-icon {
        z-index: 200;
        width: 10vw;
        height: 10vw;
        filter: invert(100%) drop-shadow(2px 2px 5px #555);
    }
    
    img.dice {
        filter: invert(100%) drop-shadow(2px 2px 5px #555);
    }
    
    #brightness-slider {
        position: absolute;
        top: 11vw;
        right: 1vw;
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 40vw; /* Full-width */
        height: 1vh; /* Specified height */
        background: white; /* Grey background */
        outline: none; /* Remove outline */
        border-radius: 0.5vh;
        transition: opacity 0.3s;
    }
    
    #brightness-slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%;
        background: white; /* Green background */
        cursor: pointer; /* Cursor on hover */
        filter: drop-shadow(2px 2px 5px #555);
    }
    
    #brightness-slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 50%;
        background: white; /* Green background */
        cursor: pointer; /* Cursor on hover */
        filter: drop-shadow(2px 2px 5px #555);
    }
    
    .standard-shadow {
        filter: drop-shadow(2px 2px 5px #555);
    }
    
    .cursorpointer {
        cursor: pointer;
    }
    
    #your-turn, #others-turn, #reveal-round {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    
    .last-turn {
        font-size: 3vh;
        color: white;
        margin-bottom: 1vh;
        text-align: center;
    }
    
    .standard-text {
        font-size: 3vh;
        color: white;
        line-height: 3vh;
        margin-bottom: 1vh;
    }
    
    .rolled-dice-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 8vh;
        width: 100vw;
    }
    
    .small-dice {
        height: 3vh;
        margin: 0 0 -0.4vh 0;
        display: inline;
        white-space: nowrap;
    }

    .medium-dice {
        height: 8vh;
        margin: 0 0 -0.4vh 0;
        display: inline;
        white-space: nowrap;
        cursor: pointer;
    }
    
    .rolled-dice {
        margin: 0;
    }
    
    .card-dice {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
        margin-top: 2vh;
    }
    
    .reveal-dice {
        height: 3.5vh;
        white-space: nowrap;
    }

    .responsive-text {
        margin-bottom: 4vh;
    }
    
    .game-buttons-container {
        display: flex;
        flex-flow: row nowrap;
        width: 90vw;
        justify-content: space-evenly;
        margin-bottom: 4vh;
    }
    
    .bid-options-container {
        display: flex;
        flex-flow: row nowrap;
        width: 90vw;
        justify-content: center;
        margin-bottom: 2vh;
    }

    .bid-options-container > div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bid-options-container > div:last-child {
        display: flex;
        flex-flow: row wrap;
        width: 70vw;
        height: 19vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #bid-amount-input {
        height: 8vh;
        width: 10vh;
        font-size: 8vh;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
    
    .unchosen {
        opacity: 0.5;
    }
    
    .dissolved {
        opacity: 0.35;
        transition: opacity 1s 2s ease-in-out;
    }
}